In [15]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# Show all output for a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [21]:
import sys
import os
import numpy as np
import pandas as pd

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_citibike_data

In [4]:
citi_bike_rides = load_and_process_citibike_data(year=2024)

‚¨áÔ∏è Downloading data for 2024-01...
Trying to fetch: https://s3.amazonaws.com/tripdata/202401-citibike-tripdata.csv.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202401-citibike-tripdata.csv.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_01.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_01.parquet
üîç Filtering data for 2024-01...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_01.parquet
‚¨áÔ∏è Downloading data for 2024-02...
Trying to fetch: https://s3.amazonaws.com/tripdata/202402-citibike-tripdata.csv.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202402-citibike-tripdata.csv.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_02.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_02.parquet
üîç Filtering data for 2024-02...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_02.parquet
‚¨áÔ∏è Downloading data for 2024-03...
Trying to fetch: https://s3.amazonaws.com/tripdata/202403-citibike-tripdata.csv.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202403-citibike-tripdata.csv.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_03.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_03.parquet
üîç Filtering data for 2024-03...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_03.parquet
‚¨áÔ∏è Downloading data for 2024-04...
Trying to fetch: https://s3.amazonaws.com/tripdata/202404-citibike-tripdata.csv.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202404-citibike-tripdata.csv.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_04.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_04.parquet
üîç Filtering data for 2024-04...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_04.parquet
‚¨áÔ∏è Downloading data for 2024-05...
Trying to fetch: https://s3.amazonaws.com/tripdata/202405-citibike-tripdata.csv.zip
‚ùå Failed to access: https://s3.amazonaws.com/tripdata/202405-citibike-tripdata.csv.zip
Trying to fetch: https://s3.amazonaws.com/tripdata/202405-citibike-tripdata.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202405-citibike-tripdata.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_05.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_05.parquet
üîç Filtering data for 2024-05...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_05.parquet
‚¨áÔ∏è Downloading data for 2024-06...
Trying to fetch: https://s3.amazonaws.com/tripdata/202406-citibike-tripdata.csv.zip
‚ùå Failed to access: https://s3.amazonaws.com/tripdata/202406-citibike-tripdata.csv.zip
Trying to fetch: https://s3.amazonaws.com/tripdata/202406-citibike-tripdata.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202406-citibike-tripdata.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_06.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_06.parquet
üîç Filtering data for 2024-06...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_06.parquet
‚¨áÔ∏è Downloading data for 2024-07...
Trying to fetch: https://s3.amazonaws.com/tripdata/202407-citibike-tripdata.csv.zip
‚ùå Failed to access: https://s3.amazonaws.com/tripdata/202407-citibike-tripdata.csv.zip
Trying to fetch: https://s3.amazonaws.com/tripdata/202407-citibike-tripdata.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202407-citibike-tripdata.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_07.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_07.parquet
üîç Filtering data for 2024-07...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_07.parquet
‚¨áÔ∏è Downloading data for 2024-08...
Trying to fetch: https://s3.amazonaws.com/tripdata/202408-citibike-tripdata.csv.zip
‚ùå Failed to access: https://s3.amazonaws.com/tripdata/202408-citibike-tripdata.csv.zip
Trying to fetch: https://s3.amazonaws.com/tripdata/202408-citibike-tripdata.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202408-citibike-tripdata.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_08.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_08.parquet
üîç Filtering data for 2024-08...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_08.parquet
‚¨áÔ∏è Downloading data for 2024-09...
Trying to fetch: https://s3.amazonaws.com/tripdata/202409-citibike-tripdata.csv.zip
‚ùå Failed to access: https://s3.amazonaws.com/tripdata/202409-citibike-tripdata.csv.zip
Trying to fetch: https://s3.amazonaws.com/tripdata/202409-citibike-tripdata.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202409-citibike-tripdata.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_09.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_09.parquet
üîç Filtering data for 2024-09...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_09.parquet
‚¨áÔ∏è Downloading data for 2024-10...
Trying to fetch: https://s3.amazonaws.com/tripdata/202410-citibike-tripdata.csv.zip
‚ùå Failed to access: https://s3.amazonaws.com/tripdata/202410-citibike-tripdata.csv.zip
Trying to fetch: https://s3.amazonaws.com/tripdata/202410-citibike-tripdata.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202410-citibike-tripdata.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_10.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_10.parquet
üîç Filtering data for 2024-10...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_10.parquet
‚¨áÔ∏è Downloading data for 2024-11...
Trying to fetch: https://s3.amazonaws.com/tripdata/202411-citibike-tripdata.csv.zip
‚ùå Failed to access: https://s3.amazonaws.com/tripdata/202411-citibike-tripdata.csv.zip
Trying to fetch: https://s3.amazonaws.com/tripdata/202411-citibike-tripdata.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202411-citibike-tripdata.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_11.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_11.parquet
üîç Filtering data for 2024-11...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_11.parquet
‚¨áÔ∏è Downloading data for 2024-12...
Trying to fetch: https://s3.amazonaws.com/tripdata/202412-citibike-tripdata.csv.zip
‚ùå Failed to access: https://s3.amazonaws.com/tripdata/202412-citibike-tripdata.csv.zip
Trying to fetch: https://s3.amazonaws.com/tripdata/202412-citibike-tripdata.zip
‚úÖ Successfully accessed: https://s3.amazonaws.com/tripdata/202412-citibike-tripdata.zip

/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')
/Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/src/data_utils.py:56: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, encoding='latin1', on_bad_lines='skip')

‚úÖ Saved raw file to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/raw/citi_bike_rides_raw_2024_12.parquet
üìñ Loading data from: citi_bike_rides_raw_2024_12.parquet
üîç Filtering data for 2024-12...
‚úÖ Saved filtered data to: /Users/yashmathur/Documents/MS_DS/Python_Spring_25/CDA_500/Test_Final/data/processed/citi_bike_rides_processed_2024_12.parquet
‚úÖ Successfully combined all filtered months.

In [5]:
citi_bike_rides.head()
citi_bike_rides.tail()

               started_at start_station_id
0 2024-01-22 18:43:19.012          7954.12
1 2024-01-11 19:19:18.721          6771.13
2 2024-01-30 19:17:41.693          5659.11
3 2024-01-27 11:27:01.759          6771.13
4 2024-01-16 15:15:41.000          7443.01

                      started_at start_station_id
44233324 2024-12-21 19:08:07.762          4386.07
44233325 2024-12-17 18:59:56.045          6925.09
44233326 2024-12-18 06:44:59.074          6717.06
44233327 2024-12-20 20:53:58.339          4019.06
44233328 2024-12-23 18:57:11.252           6948.1

In [6]:
from src.data_utils import transform_raw_data_into_ts_data

citi_bike_ts_data = transform_raw_data_into_ts_data(citi_bike_rides)
citi_bike_ts_data.head()

                 hour start_station_id  ride_count
0 2024-01-01 00:00:00          5905.14           1
1 2024-01-01 00:00:00          6140.05           2
2 2024-01-01 00:00:00          6450.05           4
3 2024-01-01 01:00:00          5905.14           2
4 2024-01-01 01:00:00          6140.05           2

In [7]:
citi_bike_ts_data.shape

(26352, 3)

In [9]:
citi_bike_ts_data.head()

                 hour start_station_id  ride_count
0 2024-01-01 00:00:00          5905.14           1
1 2024-01-01 00:00:00          6140.05           2
2 2024-01-01 00:00:00          6450.05           4
3 2024-01-01 01:00:00          5905.14           2
4 2024-01-01 01:00:00          6140.05           2

In [10]:
citi_bike_ts_data.tail()

                     hour start_station_id  ride_count
26347 2024-12-31 22:00:00          6140.05           0
26348 2024-12-31 22:00:00          6450.05           1
26349 2024-12-31 23:00:00          5905.14           3
26350 2024-12-31 23:00:00          6140.05           1
26351 2024-12-31 23:00:00          6450.05           2

In [11]:
from src.data_utils import transform_ts_data_into_features_and_target_loop

features, targets = transform_ts_data_into_features_and_target_loop(citi_bike_ts_data, window_size=24*28, step_size=24)

In [12]:
features

,ride_count_t-672,ride_count_t-671,ride_count_t-670,ride_count_t-669,ride_count_t-668,ride_count_t-667,ride_count_t-666,ride_count_t-665,ride_count_t-664,ride_count_t-663,...,ride_count_t-8,ride_count_t-7,ride_count_t-6,ride_count_t-5,ride_count_t-4,ride_count_t-3,ride_count_t-2,ride_count_t-1,hour,start_station_id
0,1,2,1,2,0,0,1,0,1,2,...,5,4,7,5,4,4,5,1,2024-01-29,5905.14
1,1,1,0,0,0,0,0,7,10,5,...,14,16,23,7,13,9,12,3,2024-01-30,5905.14
2,0,0,0,0,0,5,7,3,14,9,...,20,31,41,25,16,10,5,12,2024-01-31,5905.14
3,1,0,0,1,0,0,5,4,14,12,...,20,21,22,16,11,9,6,4,2024-02-01,5905.14
4,2,0,2,0,1,2,5,8,6,9,...,0,0,13,19,17,17,12,7,2024-02-02,5905.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009,6,4,0,0,1,2,5,7,12,12,...,4,7,14,9,6,5,4,5,2024-12-27,6450.05
1010,5,3,0,1,0,0,3,1,6,6,...,8,9,13,6,3,2,6,4,2024-12-28,6450.05
1011,1,0,0,0,0,0,0,0,3,4,...,5,4,1,4,1,3,3,4,2024-12-29,6450.05
1012,2,2,1,0,3,10,18,14,17,16,...,14,17,4,8,16,8,4,16,2024-12-30,6450.05
1013,3,3,2,0,0,12,25,39,31,22,...,13,17,16,12,7,2,10,13,2024-12-31,6450.05

In [13]:
from src.data_utils import transform_ts_data_into_features_and_target_loop

features, targets = transform_ts_data_into_features_and_target_loop(citi_bike_ts_data, window_size=24*28*1, step_size=24)

In [14]:
tabular_data = features
tabular_data["target"] = targets

from src.config import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "citi_bike_tabular_data.parquet", engine="pyarrow")